@import "./../../../../style/style_addictions";

.section {
    display: grid;
    grid-template-columns: 2fr 6fr;
    background-color: $color_text_wh;
    min-height: 600px;
}
.dialogsPeople {
    border-right: 1px $color_border solid;
}
.dialogsPeople > a:last-child {
    border-bottom: 1px $color_border solid;
}