@import "./../../../../style/style_addictions";


.dialogsPeople {
    background-color: $color_bg_content;
    border-right: 1px $color_text_standart solid;
}
.dialogWithPeople {
    background-color: $color_bg_navbar;
}