@import "./../../style/style_addictions";
.menu {
    position: fixed;
    box-shadow: 0 0 1px #141f2c94;
}

.ul {
    margin: 0;
    padding: 10px 0 0 0;
    transition: 0.1s ease;
    text-align: center;
    & > li:hover {
        background-color: $color_border;
    }
    background-color: $color_text_wh;
}

.imgSection {
    grid-area: img;
    display: grid;
    grid-gap: 5px;
    background-color: $color_text_wh;
    border-radius: 3px;
}
.imgContainer {
    align-items: top;
    img {
        max-width: 180px;
        padding: 10px;
    }
}
.imgSection {
    text-align: center;
}
.barContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.barTitle {
    text-align: right;
}
.bar {
    height: 30px;
    display: grid;
    align-items: center;
    padding-left: 10px;
}
.bar1,
.bar2,
.bar3 {
    height: 20px;
}
.imgTitle > li > a {
    padding-top: 0;
}
.infoWtapper {
    text-align: center;
    background-color: $color_text_wh;
    border-radius: 5px;
    padding: 2px 5px;
    h2 {
        @include font(1.4rem, 600, 0.2rem, 1.6rem);
    }
    color: $color_text_standart;
}

@media (max-width: 414px) {
    .infoWtapper,
    .imgSection {
        display: none;
    }
    .menu {
        position: fixed;
        display: grid;
        grid-template-rows: 50px;
        bottom: 0px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .ul {
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
    .ul a {
        @include font(1.4rem, 700, 0.05rem, 1.4rem);
    }
}
