@import "./../../../../style/style_addictions";
.form__wrapper {
    padding: 40px 10%;
}
.form {
    display: flex;
    justify-content: space-around;
}

textarea {
    resize: none;
}

.itemPost {
    display: flex;
    justify-content: space-around;
    margin: 0 35%;
}