@import "./../../style/style_addictions";
.section {
    background-color: $color_bg_content;
}
.wrapper {
    width: $page__width;
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
