@import './../../../../../style/style_addictions';

.li {
    padding: 20px 0;
    list-style-type: none;
    border-top: 1px $color_text_standart solid;
}
.link {
    text-decoration: none;
    @include font(2rem, 600, 0.15rem, 2.4rem);
    color: $color_text_standart;
    transition: 0.2s ease;
    &:hover {
        color: $color_primary;
    }
}
.active {
        color: $color_primary;
}