@import "./../../../../style/style_addictions";
.section {
    display: grid;
    grid-template-rows: 1fr 1fr 30px;
    box-shadow: 0 0 1px $color_text_standart;
    background-color: $color_text_wh;
    padding: 10px;
}
.containerOwn {
    text-align: right; 
}
.imgEnemy img, .imgOwn img {
    width: 60px;
    border-radius: 50%;
}

.containerEnemy {
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.containerOwn {
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.submit {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 10px;
}