@import "./../../../../style/style_addictions";

.containerOwn {
    text-align: right; 
}
.imgEnemy img, .imgOwn img {
    width: 60px;
    border-radius: 50%;
}

.containerEnemy {
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.containerOwn {
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.containerNameMessage {
}
