@import "./../../../../style/style_addictions";

.wrapper {
    background-color: $color_bg_content;
}
.level {
    grid-area: level;
}
.catalog {
    grid-area: catalog;
}
.post {
    grid-area: post;
}
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas:
        "level level level level"
        "catalog catalog catalog catalog"
        "post post post post";
    > div {
        background-color: $color_text_wh;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 0 1px #141f2c94;
    }
}
.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.imgCatalog {
    width: 170px;
    border-radius: 5px;
}