@import "./../../../../style/style_addictions";

.wrapper {
    background-color: $color_bg_content;
}
.imgSection {
    grid-area: img;
    display: grid;
    grid-gap: 5px;
}
.level {
    grid-area: level;
}
.catalog {
    grid-area: catalog;
}
.post {
    grid-area: post;
}
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas:
        "img level level level"
        "catalog catalog catalog catalog"
        "post post post post";
    > div {
        background-color: $color_text_wh;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 0 1px #141f2c94;
    }
}
.imgContainer {
    img {
        max-width: 180px;
    }
}
.imgButtonContainer {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-gap: 5px;
    button {
        font-size: 1.3rem;
    }
}
.imgSection {
    text-align: center;
}