@import "./../../../style/style_addictions";

.section {
    background-color: $color_bg_navbar;
    text-align: center;
}

.avatar {
    padding-top: 10px;
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.progress__bar {
    height: 130px;
    background-color: rgb(238, 184, 184);
}
.name {
    h3 {
        @include font(2.4rem, bold, 0.1, 3.3rem);
        margin: 0;
        padding: 0;
    }
}
.imgName {
    padding-bottom: 20px;
}
