@import './../../../style/style_addictions';

.section {
    background-color: $color_bg_navbar;
    flex-basis: 26%;
}

.avatar {
    padding-top: 23px;
    img {
        height: 204px;
        width: 204px;
        border-radius: 50%;
    }
}

.progress__bar {
    height: 130px;
    background-color: rgb(238, 184, 184);
    
}
.name {
    padding: 5px;
}
h3 {
    @include font(2.4rem, bold, 0.1, 3.3rem);
}