@import "./../../../../../style/style_addictions";
textarea {
    resize: none;
}
.itemPost {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 10px 10px 20px;
}
.form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}
