@import "./style/style_addictions.scss";
.section {
    background-color: $color_bg_content;
}
.wrapper {
    width: $page__width;
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    padding: 20px 0;
}
@media (max-width: 414px) {
    .wrapper {
        width: auto;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}
