h1, h2, h3, h4, h5, h6, p, button, ul, li {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  ul, li {
    list-style-type: none;
}
  
  html {
      font-size: 10px;
      font-family: 'Open Sans', sans-serif;
  }
  body {
      font-size: 1.2rem;
  }