
//Font mixin @include font(font-size, font-weight, etter-spacing, line-height)
@mixin font($fontSize, $fontWeight: 400, $letterSpacing:0.1, $lineHeight:$fontSize) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
  }
  
  .sidebar {
    @include font(float, left, right);
  }