@import "./../../../../style/style_addictions";

.wrapper {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: 20px;
}
.textarea {
    resize: none;
    border: 1px rgb(202, 200, 200) solid;
}
.button {
    border: 1px rgb(202, 200, 200) solid;
}
.itemPost {
    display: grid;
    grid-template-columns: 1fr 9fr;
    cursor: pointer;
    padding: 5px;
    transition: 0.1s ease;
    &:hover {
        background-color: $color_border;
    }
}
.form {
    display: grid;
    text-align: center;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}
.avatarContainer {
    text-align: center;
}
.avatarImg {
    width: 50px;
    border-radius: 50%;
}
.nameUser {
    @include font(1.2rem, 600, 0.1, 1.5rem);
}
@media (max-width: 414px) {
    .nameUser {
        margin-bottom: 10px;
    }
    .avatarImg {
        margin-right: 10px;
    }
}
.spanTime {
    padding-bottom: 5px;
    @include font(1rem, 500, 0.1, 1.8rem);
}